body,div,ul,li,dt,dd,ol,dl,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
    display: block;
    font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", SimSun, sans-serif !important;
}
a{
	text-decoration: none !important;
	cursor: pointer;
    color: #4A4A4A;
}
ul li{
	list-style: none;
}
img{
	border: 0 none;
}
.w{
	width: 1200px;
	margin:0 auto;
}
.clearfix{
	zoom:1;
    width: 0;
    height: 0;
}
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}